absl-py==2.1.0
accelerate==0.32.1
attrs==23.2.0
batchgenerators==0.25
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
contextlib2==21.6.0
contourpy==1.2.1
cycler==0.12.1
Cython==3.0.10
dataclasses==0.6
Deprecated==1.2.14
efficientnet_pytorch==0.7.1
einops==0.8.0
et-xmlfile==1.1.0
filelock==3.14.0
fonttools==4.51.0
fsspec==2024.3.1
future==1.0.0
grpcio==1.63.0
h5py==3.11.0
huggingface-hub==0.23.4
humanize==4.9.0
idna==3.7
imageio==2.34.1
Jinja2==3.1.3
joblib==1.4.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
lazy_loader==0.4
linecache2==1.0.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mdurl==0.1.2
ml_collections==0.1.1
mlxtend==0.23.1
monai==1.3.0
mpmath==1.3.0
networkx==3.3
nibabel==5.2.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
opencv-python==4.10.0.82
openpyxl==3.1.2
packaging==24.0
pandas==2.2.2
peft==0.11.1
picai-eval==1.4.5
picai-prep==2.1.6
picai_baseline==0.8.5
pillow==10.3.0
protobuf==5.26.1
psutil==6.0.0
pydensecrf @ git+https://github.com/lucasb-eyer/pydensecrf.git@2723c7fa4f2ead16ae1ce3d8afe977724bb8f87f
pydicom==2.4.4
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyWavelets==1.6.0
PyYAML==6.0.1
referencing==0.35.0
regex==2024.5.15
report-guided-annotation==0.2.7
requests==2.31.0
rich==13.7.1
rpds-py==0.18.0
safetensors==0.4.3
scikit-image==0.23.2
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
shellingham==1.5.4
SimpleITK==2.3.1
six==1.16.0
sympy==1.12
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
threadpoolctl==3.4.0
tifffile==2024.4.24
tokenizers==0.19.1
torch==2.3.0
torchaudio==2.3.0
torchio==0.19.6
torchvision==0.18.0
tqdm==4.66.2
traceback2==1.4.0
transformers==4.42.3
triton==2.3.0
typer==0.12.3
typing_extensions==4.11.0
tzdata==2024.1
unittest2==1.1.0
urllib3==2.2.1
Werkzeug==3.0.2
wrapt==1.16.0
